/* Jost Font Face */

@font-face {
  font-family: 'Jost';
  src: url('https://cdn.shopify.com/s/files/1/0955/0148/4400/files/Jost-Medium.eot?v=1747922514');
  src: url('https://cdn.shopify.com/s/files/1/0955/0148/4400/files/Jost-Medium.eot?v=1747922514') format('embedded-opentype'),
    url('https://cdn.shopify.com/s/files/1/0955/0148/4400/files/Jost-Medium.woff2?v=1747922514') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0955/0148/4400/files/Jost-Medium.woff?v=1747922514') format('woff'),
    url('https://cdn.shopify.com/s/files/1/0955/0148/4400/files/Jost-Medium.ttf?v=1747922514') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('https://cdn.shopify.com/s/files/1/0955/0148/4400/files/Jost-Regular.eot?v=1747922515');
  src: url('https://cdn.shopify.com/s/files/1/0955/0148/4400/files/Jost-Regular.eot?v=1747922515') format('embedded-opentype'),
    url('https://cdn.shopify.com/s/files/1/0955/0148/4400/files/Jost-Regular.woff2?v=1747922514') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0955/0148/4400/files/Jost-Regular.woff?v=1747922514') format('woff'),
    url('https://cdn.shopify.com/s/files/1/0955/0148/4400/files/Jost-Regular.ttf?v=1747922514') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Lustria Font Face */

@font-face {
  font-family: 'Lustria';
  src: url('https://cdn.shopify.com/s/files/1/0955/0148/4400/files/Lustria-Regular.eot?v=1747922490');
  src: url('https://cdn.shopify.com/s/files/1/0955/0148/4400/files/Lustria-Regular.eot?v=1747922490') format('embedded-opentype'),
    url('https://cdn.shopify.com/s/files/1/0955/0148/4400/files/Lustria-Regular.woff2?v=1747922490') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0955/0148/4400/files/Lustria-Regular.woff?v=1747922490') format('woff'),
    url('https://cdn.shopify.com/s/files/1/0955/0148/4400/files/Lustria-Regular.ttf?v=1747922490') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
